body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Mencegah scrolling */
}

.content {
  display: flex;
  justify-content: center; /* Agar konten di tengah horizontal */
  align-items: center; /* Agar konten di tengah vertikal */
  height: 100vh; /* Tinggi penuh layar */
  width: 100vw; /* Lebar penuh layar */
}

.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
}

.content.full-width {
  margin-left: 0;
}

iframe#powerBiIframe {
  width: 100%;
  height: 100%;
  border: none; /* Hilangkan border agar tampilan bersih */
}

